.nav-back{
  background-color: black;
  color:red;
}
.nav-prop{
    background-color:black;
    color:white;
}
.nav-prop:hover{
  background-color:red;
  color:black;
}
.nav-home{
  background-color:red; 
  color:black;
}
.nav-but{
  background-color:red;
}
  